streamlit==1.46.1

langgraph==0.6.4
langchain==0.3.27
langchain-groq==0.3.7

langchain-chroma==0.2.3
chromadb==0.5.23

sentence-transformers==3.4.1
transformers==4.48.3
tokenizers==0.21.0

python-dotenv==1.1.1
tavily-python==0.7.11

protobuf==5.29.5
